@import url("./features/style-discoverMore.css");
@import url("./features/style-iconSettings.css");

.TUICTweetButtomBarBase > div > .r-13awgt0 {
    flex: inherit !important;
}

.TUICScrollBottom {
    padding-right: 8px;
    padding-bottom: 16px;
    padding-left: 8px;
    margin-right: -8px;
    margin-bottom: -16px;
    margin-left: -8px;
}

.TUICScrollBottom,
[data-tuic-zooming-tweet="openingImage"] .TUICScrollBottom > div {
    overflow-x: auto;
    scrollbar-width: thin;
}

:is([data-tuic-zooming-tweet="openingImage"] .TUICScrollBottom > div, .TUICScrollBottom)::-webkit-scrollbar {
    height: 8px;
}

[data-tuic-hide-child-scroll-snap] > [data-testid="ScrollSnap-prevButtonWrapper"] {
    display: none !important;
}

[data-tuic-hide="true"] {
    display: none !important;
}

.TUIC_HideNextElements ~ * {
    visibility: hidden !important;
}

.TUICSidebarSelected > div > [dir="ltr"] {
    font-weight: 700;
}

/*
.TUICSidebarSelected > div > div > svg{
    stroke:currentColor;
    stroke-width:1;
}
*/

.TUICSidebarButton:is(:hover, :focus-visible) > div {
    background-color: var(--TUIC-sidebar-hover-color);
}

.TUICSidebarButton[data-focusvisible-polyfill] > div {
    box-shadow: var(--TUIC-sidebar-focus-color) 0 0 0 2px;
}

.TUICSidebarButton {
    padding-top: 4px;
    padding-bottom: 4px;
    text-decoration: none;
}

.TUICSidebarButton > div {
    display: flex;
}
.TUICSidebarButton:active > div {
    background-color: var(--TUIC-sidebar-active-color);
}

.TUIC_DeleteButton {
    color: rgb(244 33 46);
}

.TUICEngagementsBox {
    display: flex;
}

.TUICEngagementsBox > div > span {
    transition: border-bottom 0.2s;
}

.TUICEngagementsBox > div > span:is(:hover, :focus-visible) {
    border-bottom: solid 0.05px;
}

[tabindex="0"] > .TUIC_ButtonHover2:is(:hover, :focus-visible) > .TUIC_ButtonHover > div {
    background-color: rgb(29 155 240 / 10%);
}

[tabindex="0"] > .TUIC_ButtonHover2:active > .TUIC_ButtonHover > div {
    background-color: rgb(29 155 240 / 20%);
}

[tabindex="0"] > .TUIC_ButtonHover2:is(:hover, :focus-visible) > .TUIC_ButtonHover > svg {
    color: rgb(29 155 240);
}

.TUICButtonUnderTweet [tabindex="0"][data-focusvisible-polyfill] .TUIC_ButtonHover > svg {
    color: rgb(29 155 240);
}

.TUICButtonUnderTweet [tabindex="0"][data-focusvisible-polyfill] .TUIC_ButtonHover > div {
    background-color: rgb(29 155 240 / 10%);
    box-shadow: rgb(142 204 258) 0 0 0 2px inset;
}

.TUICButtonUnderTweet > div {
    display: flex;
}
.TUICButtonUnderTweet > div > div {
    display: flex;
    align-items: stretch;
}

.TUIC_LinkCardInfo > a {
    text-decoration: none;
}

.TUICTweetTopButton.css-18t94o4:is(:hover, :focus-visible) .TUIC_ButtonHover {
    background-color: rgb(29 155 240 / 10%);
}
.TUICTweetTopButton.css-18t94o4:focus-visible .TUIC_ButtonHover {
    box-shadow: rgb(142 204 258) 0 0 0 2px inset;
}
.TUICTweetTopButton.css-18t94o4:is(:hover, :focus-visible) svg {
    color: rgb(29 155 240);
}

.TUICTweetTopButton.css-18t94o4:active .TUIC_ButtonHover {
    background-color: rgb(29 155 240 / 20%);
}

[data-tuic-follower-list-button]:is(:hover, :focus-visible) .TUIC_ButtonHover {
    background-color: rgb(29 155 240 / 10%);
}
[data-tuic-follower-list-button]:focus-visible .TUIC_ButtonHover {
    box-shadow: rgb(142 204 258) 0 0 0 2px inset;
}
[data-tuic-follower-list-button]:is(:hover, :focus-visible) svg {
    color: rgb(29 155 240);
}

[data-tuic-follower-list-button]:active .TUIC_ButtonHover {
    background-color: rgb(29 155 240 / 20%);
}

#TUICDisplayRightSidebar:is(:hover, :focus-visible) {
    text-decoration-thickness: 1px;
}

.TUICTweetTopButton :root[data-tuic-settings*="|sidebarSetting.buttonConfigsmallerSidebarContent|"] [role="navigation"] [data-tuic-hide="false"] {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

:is(
    /* プロフィールのサブスクリプションボタン */
    :root[data-tuic-settings*="|invisibleItems.subscribe-profile|"]
        [data-testid="userActions"] + [style*="border-color"][style*="rgb(201, 54, 204)"],
    /* 画面右下のDMドロワー */
    :root[data-tuic-settings*="|invisibleItems.hideBelowDM|"]
        :is([data-testid="DMDrawer"], [data-testid="chat-drawer-root"]),
    /* ツイート下ボタン横の数字 */
    :root[data-tuic-settings*="|tweetDisplaySetting.option.noNumberBottomTweetButtons|"]
        [data-tuic-zooming-tweet] [data-testid="app-text-transition-container"],
    /* 左下のアカウント切り替えの各要素 */
    :root[data-tuic-settings*="|accountSwitcher.icon|"]
        [data-testid="SideNav_AccountSwitcher_Button"] > div:first-child,
    :root[data-tuic-settings*="|accountSwitcher.nameID|"]
        [data-testid="SideNav_AccountSwitcher_Button"] > div:first-child + div,
    :root[data-tuic-settings*="|accountSwitcher.moreMenu|"]
        [data-testid="SideNav_AccountSwitcher_Button"] > div:first-child + div + div,
    :root[data-tuic-settings*="|accountSwitcher.icon|"][data-tuic-settings*="|accountSwitcher.nameID|"][data-tuic-settings*="|accountSwitcher.moreMenu|"] 
        :has( > * > [data-testid="SideNav_AccountSwitcher_Button"]),
    /* ツイート投稿画面の下書きボタン */
    :root[data-tuic-settings*="|composetweet.hideDraft|"]
        [data-testid="unsentButton"],
    /* サイドバーのボタンをCSSでも消しにかかる (なんで...？) */
    :root[data-tuic-settings*="|sidebarButtons.style.verifiedChoose|"]
        [role="banner"] > div > div > div > div > div > nav [href="/i/premium_sign_up"],
    /* サイドバーのバッジ */
    :root[data-tuic-settings*="|sidebarSetting.hideBadge.homeBadge|"]
        [data-testid="AppTabBar_Home_Link"] svg + div,
    :root[data-tuic-settings*="|sidebarSetting.hideBadge.notificationsBadge|"]
        [data-testid="AppTabBar_Notifications_Link"] svg + div,
    :root[data-tuic-settings*="|sidebarSetting.hideBadge.dmBadge|"]
        [data-testid="AppTabBar_DirectMessage_Link"] svg + div,
    /* 画面右下のGrokボタン */
    :root[data-tuic-settings*="|invisibleItems.hideBelowGrok|"]
        [data-testid="GrokDrawer"],
    /* ツイートの画像右下の画像を編集ボタン */
    :root[data-tuic-settings*="|tweetDisplaySetting.invisible.editImage|"]
        article :has(> * > [href^="/i/imagine?postId="]),
    /* 右サイドバー */
    :root[data-tuic-settings*="|rightSidebar.verified|"]
        div+div:has( > div > :is([data-testid="super-upsell-UpsellCardRenderProperties"], aside[role="complementary"]) :is([href="/i/verified-choose"], [href="/i/premium_tier_switch"], [href="/i/premium_sign_up"])),
    :root[data-tuic-settings*="|rightSidebar.trend|"]
        [data-testid="sidebarColumn"] :has(> section [data-testid="trend"]),
    :root[data-tuic-settings*="|rightSidebar.news|"]
        [data-testid="sidebarColumn"] :has(> [data-testid="news_sidebar"]),
    :root[data-tuic-settings*="|rightSidebar.links|"]
        [data-testid="sidebarColumn"] :has(> nav),
    :root[data-tuic-settings*="|rightSidebar.searchBox|"]
        [data-testid="sidebarColumn"] :has(> * > * > * >[role="search"]),
    :root[data-tuic-settings*="|rightSidebar.space|"]
        [data-testid="sidebarColumn"] :has(> [data-testid="placementTracking"] [data-testid="pill-contents-container"]),
    :root[data-tuic-settings*="|rightSidebar.osusumeUser|"]
        [data-testid="sidebarColumn"] :has([data-testid="UserCell"]):has(> * > aside > a[href^="/i/connect_people"]),
    :root[data-tuic-settings*="|rightSidebar.relevantPeople|"]
        [data-testid="sidebarColumn"] :has(> aside [data-testid="UserCell"]):not(:has(> * > aside > a[href^="/i/connect_people"])),
    /* 設定画面のプレミアム関連項目 */
    :root[data-tuic-settings*="|invisibleItems.config-premium|"]
        :is([href="/settings/monetization"], :not(nav[role="navigation"]) > [href^="/i/premium_sign_up"], [href="/settings/manage_subscriptions"]),
    /* プロフィール周り */
    :root[data-tuic-settings*="|profileSetting.invisible.subscribe-profile|"]
        [data-testid="userActions"]+[style*="border-color"][style*="rgb(201, 54, 204)"],
    :root[data-tuic-settings*="|profileSetting.invisible.profileHighlights|"]
        :has(> [role="tab"][href$="/highlights"]),
    :root[data-tuic-settings*="|profileSetting.invisible.profileArticles|"]
        :has(> [role="tab"][href$="/articles"]),
    :root[data-tuic-settings*="|profileSetting.invisible.profileAffiliates|"]
        :has(> [role="tab"][href$="/affiliates"]),
    :root[data-tuic-settings*="|profileSetting.invisible.profilePagePremium|"]
        [data-testid="primaryColumn"] :has( > * >  [role="link"][href="/i/premium_sign_up"]),
    :root[data-tuic-settings*="|profileSetting.invisible.profileSummary|"]
        :is(
            [data-testid^="UserAvatar-Container-"]+div,
            [data-testid="primaryColumn"] div:has(> [data-testid="app-bar-back"])+div+div
        ) button:has(path[d="M12.745 20.54l10.97-8.19c.539-.4 1.307-.244 1.564.38 1.349 3.288.746 7.241-1.938 9.955-2.683 2.714-6.417 3.31-9.83 1.954l-3.728 1.745c5.347 3.697 11.84 2.782 15.898-1.324 3.219-3.255 4.216-7.692 3.284-11.693l.008.009c-1.351-5.878.332-8.227 3.782-13.031L33 0l-4.54 4.59v-.014L12.743 20.544m-2.263 1.987c-3.837-3.707-3.175-9.446.1-12.755 2.42-2.449 6.388-3.448 9.852-1.979l3.72-1.737c-.67-.49-1.53-1.017-2.515-1.387-4.455-1.854-9.789-.931-13.41 2.728-3.483 3.523-4.579 8.94-2.697 13.561 1.405 3.454-.899 5.898-3.22 8.364C1.49 30.2.666 31.074 0 32l10.478-9.466"])
) {
    display: none !important;
}

:root[data-tuic-settings*="|tweetDisplaySetting.invisible.bottomSpace|"] .TUIC_NONE_SPACE_BOTTOM_TWEET {
    margin-top: 0 !important;
}

:root[data-tuic-settings*="|sidebarSetting.buttonConfig.sidebarNoneScrollbar|"] header > div > div > div > div.r-1rnoaur {
    overflow: clip;
}

/* :root[data-tuic-settings*="|profileSetting.tabs.pinnedTab|"] [data-testid="primaryColumn"] > div > div > div > div > nav[role="navigation"] { */
[data-tuic-tabs-pinned] {
    position: sticky;
    top: var(--TUIC-pinnedTab-top);
    z-index: 1;
    background-color: var(--TUIC-pinnedTab-background);
    backdrop-filter: blur(12px);
}

:root[data-tuic-settings*="|uncategorizedSettings.disableBackdropFilter|"] * {
    backdrop-filter: none !important;
}

:root[data-tuic-settings*="|tweetDisplaySetting.option.likeToFavo|"] :is([data-testid="unlike"], [data-testid="like"][data-focusvisible-polyfill], [data-testid="like"]:is(:hover, :focus-visible)) > div > div {
    color: rgb(255 212 0) !important;
}

:root[data-tuic-settings*="|tweetDisplaySetting.option.likeToFavo|"] [data-testid="like"] > div:is(:hover, :focus-visible) > div {
    color: rgb(255 212 0) !important;
}

:root[data-tuic-settings*="|tweetDisplaySetting.option.likeToFavo|"] [data-testid="like"] > div:is(:hover, :focus-visible) > div > div {
    background-color: rgb(255 212 0 / 10%) !important;
}

:root[data-tuic-settings*="|tweetDisplaySetting.option.likeToFavo|"] [data-testid="like"][data-focusvisible-polyfill] > div > div > div {
    background-color: rgb(255 212 0 / 10%) !important;
    box-shadow: rgb(142 204 258) 0 0 0 2px inset !important;
}

:root[data-tuic-settings*="|tweetDisplaySetting.option.likeToFavo|"] [data-testid="like"] > div:active > div > div {
    background-color: rgb(255 212 0 / 20%) !important;
}

:root[data-tuic-settings*="|tweetDisplaySetting.option.likeToFavo|"] :is([data-testid="unlike"], [data-testid="like"][data-focusvisible-polyfill]) path {
    fill: rgb(255 212 0) !important;
}

:root[data-tuic-settings*="|tweetDisplaySetting.option.likeToFavo|"] [data-testid="like"] > div:is(:hover, :focus-visible) path {
    fill: rgb(255 212 0) !important;
}
