name: Lint & Format

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: read
#  security-events: write
#  actions: read # only required for a private repository by github/codeql-action/upload-sarif to get the Action run status

jobs:
  lint:
    name: Run lint and format
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Get pnpm version from package.json
        id: pnpm-version
        run: echo "PNPM_VERSION=$(node -p 'require(`./package.json`).engines.pnpm')" >> $GITHUB_OUTPUT

      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: ${{ steps.pnpm-version.outputs.PNPM_VERSION }}

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version-file: "package.json"
          cache: "pnpm"

      - name: Install npm packages
        run: |
          pnpm install

      #- name: Generate SARIF file
      #  run: |
      #      pnpm run lint:eslint -f @microsoft/eslint-formatter-sarif -o eslint-results.sarif
      #  continue-on-error: true
      #
      #- name: Upload SARIF file
      #  uses: github/codeql-action/upload-sarif@v2
      #  with:
      #      sarif_file: eslint-results.sarif
      #      wait-for-processing: true

      - name: Run lint
        run: |
          pnpm run lint:tsc
          pnpm run lint:eslint
          pnpm run lint:stylelint
          pnpm run lint:prettier
        continue-on-error: ${{ (github.repository_owner == 'Ablaze-MIRAI' && github.event_name != 'pull_request' ) || github.event_name == 'workflow_dispatch' }}

      - name: Run format
        if: github.event_name != 'pull_request'
        run: |
          git checkout -- .
          git pull
          pnpm run format:eslint
          pnpm run format:prettier
          pnpm run format:stylelint

      - name: Commit
        if: github.event_name != 'pull_request'
        run: |
          if [ -z "$(git status --porcelain)" ]; then
            echo "No format changes"
            exit 0
          fi

          git config --global user.name  "github-actions[bot]"
          git config --global user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git add .
          git commit -m "Format"
          git push

      - name: Re-Run lint
        if: github.event_name != 'pull_request'
        run: |
          pnpm run lint:tsc
          pnpm run lint:eslint
          pnpm run lint:stylelint
          pnpm run lint:prettier
